body {
    background: url(images/Forest-Desktop-Backgrounds-Wallpaper-Picture.jpg), center, no-repeat;
    background-size:cover;

}

#container {
    font-family: 'Jaldi', sans-serif;

}



img {
    max-width: 10%;
    position: absolute;
    margin: 0;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}


.center {
    font-family: 'Courier', monospace;
    display:inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: white;
}

#under{
    display:inline-block;
    margin: 0;
    position: absolute;
    top: 58%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: gray;

}

h3 {
    text-align:center;
    font-family: 'Courier', monospace;
    display:inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    padding:5px;
    border-style: solid;
    border-radius: 2px;
}
h3:hover {
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -2px 2px 0 #000,
            1px 1px 0 #000;
}

h1 {
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 1.5s steps(6, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-weight: 700;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -5px 5px 0 #000,
            1px 1px 0 #000;
    border-right: 4px solid green;
    box-sizing: border-box;
}

@keyframes typing {
    from {
        width: 0%
    }
    to {
        width: 100%
    }
}

@keyframes blink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: white;
    }
}


nav ul li:last-child {
    float:right;
}
nav {
    length: 5px;
    align: center;

}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


li {
    display:inline;
    float: left;


}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    length: 5px;
    text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000;
    font-size:1em;
}

li a:hover {
    font-size: 101%;
    border-bottom:solid;
    border-width: 1px;
}

.active {
    color: green;

}
.active:hover {
}